/*single currency input layout*/
 .zci--currency-sc { 
    position: relative;
    text-align: center; 
    min-width: 135px;
}

.zci--currency-swap{
    position: absolute;
    right: 0;
    opacity: 0;
    width: 16px;
    height: 15px;
    padding:3px;
}

.zci--currency-sc:hover .zci--currency-swap{
    opacity: 1;
}

.zci--currency-swap:hover{
    background-color: #d5d5d5;
}

.zci--currency-sc img{
    height:36px;
    width: 36px;
}

.zci--currency-symbol{
    font-size: 14px;
    line-height: 30px;
    padding-top: 5px;
    color:#333;
}

.zci--currency-sc-amount{
   margin-top: -4px;
   line-height: 42px;
   font-size: 3em;
   color:#333;
}

.zci--currency-sc-rate{   
    line-height: 13px;
    padding-top: 11px;
    font-size: 13px;
    color:#888;
}

.zci--currency-sc-main{
    background-color: #e2e2e2!important;
    border: 2px solid #e2e2e2!important;
}

/*pair currencty input view*/
.zci--currency-pc{
     margin: 0.6em 1.5em 0 1em;
     line-height: 3em;
     float: left;
}

.zci--currency-pc-ratesinfo{
    margin-top: 1.5em;  
}

.zci--currency-pc img{
     height:32px; 
     margin-top: 1em;
     vertical-align: -4px;
}

.zci--currency-pc-amount{
    font-size: 2.7em;
    font-weight: bold;
    padding: 0 0.1em 0 0.2em;
}

.zci--currency-pc-symbol{
    display: inline-block;
    font-size: 0.8em;
    vertical-align: top;
}

.zci--currency-pc-equal{
    font-size:2em;  
    margin:0 0.5em;
    color: #d5d5d5;
}

.zci--currency-pc-link{
    clear: both;
    margin-left: 1em;
    margin-left: 1.3em;
    padding: 1em 0;
}

.zci--currency-pc-bar{
   font-size: 1em;  
   padding: 0 0.5em;
   vertical-align: middle;
   color: #d5d5d5;
}

.zci--currency-pc-link a{
    color: #888;
    font-size: 0.9em;
}


.zci--currency-favicon{
   margin-top: -0.35em;
   vertical-align: middle;
   padding-right: 0.25em;
   max-width: 16px;
}
.zci--currency-pc-seperator{
   display: inline-block;
   border-right: 2px solid #d5d5d5;
   height: 3em;
   margin-left: 1.2em;
   vertical-align: middle;
   margin-top: -1.2em;  
}
/*mobile stylesheet*/
/*main currency*/
.zci--currency-mc-mobile{
    width: 100%;
    text-align: center;
    margin: 10px auto;
    background-color: #fff;
    padding-bottom: 15px;
}
.zci--currency-input-mobile{
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 30px;
    display: block;
}

.zci--currency-rate-mobile{
    padding-top: 0.5em;
    display: block;
}

.zci--currency-hb-col1-mobile{
    float: left;
    font-weight: bold;

}
.zci--currency-hb-col2-mobile{
    float: right;
}
.zci--currency-line-mobile{
    border-bottom: 2px solid #f0f0f0;
    width: 50%;
    margin: 0 auto;
}
.zci--currency-timestamp-mobile{
    padding-top: 0.5em;
    font-size: 0.8em;
    text-align: center; 
}

/*top currency*/
.zci--currency-tc-col1-mobile{
    float:left;
}

.zci--currency-tc-col2-mobile{
    float: right;
}
.zci--currency-tc-row1-mobile{
    display: block;
    height: 1.6em;
    font-weight: bold;
}
.zci--currency-tc-row2-mobile{
    display: block; 
    height: 1.6em;
    letter-spacing: -0.4px;
}

.zci--currency-tc-mobile{
    width: 100%;
}


